
{% extends "base.html" %}

{% block content %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>新建订单</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">

        <div claa="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" action="/order/order_submit">
                            {{ form.hidden_tag() }}
                            <div style="border:1px dashed #ccc;margin-bottom:20px;padding:10px;">
                                <div class="form-group">
                                    <div class="row"> 
                                        <div class="col-md-12">
                                            <b>基本信息</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>PO No.</label>
                                            {{ form.po_num(class_='form-control form-control-sm') }}
                                        </div>
                                        <div class="col-md-3">
                                            <label>Customer</label>
                                            <select class="form-control form-control-sm" name="customer_id" required>
                                                {% for customer in customers %}
                                                    <option value="{{ customer.id }}">{{ customer.alias_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>PI No.</label>
                                            {{ form.pi_num(class_='form-control form-control-sm') }}
                                        </div>
                                        <div class="col-md-3">
                                            <label>PO Date</label>
                                            {{ form.po_date(class_='form-control form-control-sm') }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Payment Method</label>
                                            {{ form.payment_method(class_='form-control form-control-sm') }}
                                        </div>
                                        <div class="col-md-3">
                                            <label>Time of Shipment</label>
                                            {{ form.delivery_date(class_='form-control form-control-sm') }}
                                        </div>
                                        <div class="col-md-3">
                                            <label>Loading Port</label>
                                            {{ form.port_of_loading(class_='form-control form-control-sm') }}
                                        </div>
                                        <div class="col-md-3">
                                            <label>Destination Port</label>
                                            {{ form.port_of_destination(class_='form-control form-control-sm') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>LOT</label>
                                            {{ form.lot(class_='form-control form-control-sm') }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="border:1px dashed #ccc;margin-bottom:20px;padding:10px;">
                                <div class="form-group">
                                    <div class="row"> 
                                        <div class="col-md-12">
                                            <b>商品</b> <button type="button" class="btn btn-sm btn-default" style="margin-left: 10px;"><i class="fa fa-plus"></i> 新增商品</button>
                                        </div>
                                    </div>
                                </div>

                                <div style="padding-left:20px">
                                    <script>
                                        $(document).ready(function() {
                                            $(".qty").blur(function() {
                                                var qty = parseInt($(this).val());
                                                var form_product = $(this).closest(".form-product");
                                                var content = form_product.find(".product-item option:selected").data("content");
                                                alert(JSON.stringify(content));
                                                form_product.find(".ctns").val(content.pcs_cnts_ratio * qty);
                                                form_product.find(".unit_price").val(content.unit_price);
                                                form_product.find(".total_price").val(content.unit_price * qty);
                                                form_product.find(".nw_kgs").val(content.nw_kgs * qty);
                                                form_product.find(".gw_kgs").val(content.gw_kgs * qty);
                                                form_product.find(".mt_cmb").val(content.mt_cmb * qty);
                                            });
                                        });
                                    </script>

                                    {% for detail_form in form.order_details %}
                                        <!--一个商品-->
                                        <div class="form-product">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>PI Description</label>
                                                        <input class="form-control form-control-sm" type="text"  name="order_details-{{ loop.index0 }}-pi_category" required value="FIREPLACE MANTEL"/>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>Model No.</label>
                                                        <select class="form-control form-control-sm product-item" name="order_details-{{ loop.index0 }}-product_id" required>
                                                            <option value="">请选择产品</option>
                                                            {% for product in products %}
                                                            <option value="{{ product.id }}"  data-content="{{product.to_json()}}">{{ product.id }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>  
                                                    <div class="col-md-2">
                                                        <label>产品型号</label>
                                                        <input class="form-control form-control-sm" type="text"  name="order_details-{{ loop.index0 }}-product_model" required/>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>PCS</label>
                                                        <input class="form-control form-control-sm qty" type="text"  name="order_details-{{ loop.index0 }}-qty" required/>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>CTNS</label>
                                                        <input class="form-control form-control-sm ctns" type="text"  name="order_details-{{ loop.index0 }}-ctns" required/>
                                                        
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>Unit Price</label>
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">$</span>
                                                            </div>
                                                            <input type="text" class="form-control unit_price" name="order_details-{{ loop.index0 }}-unit_price">
                                                        </div>
                                                        
                                                    </div>    
                                                </div>
                                                
                                            </div>
                                            
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Total Amount</label>
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">$</span>
                                                            </div>
                                                            <input type="text" class="form-control total_price" name="order_details-{{ loop.index0 }}-total_price">
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-md-2">
                                                        <label>N.W.(KGS)</label>
                                                        <input class="form-control form-control-sm nw_kgs" type="text"  name="order_details-{{ loop.index0 }}-nw_kgs" required/>
                                                        
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>G.W.(KGS)</label>
                                                        <input class="form-control form-control-sm gw_kgs" type="text"  name="order_details-{{ loop.index0 }}-gw_kgs" required/>
                                                        
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>M.T.(CBM）</label>
                                                        <input class="form-control form-control-sm mt_cmb" type="text"  name="order_details-{{ loop.index0 }}-mt_cmb" required/>
                                                        
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label>删除</label>
                                                        <div class="input-group input-group-sm">
                                                            <a class="btn btn-sm btn-danger btn-remove-product"><i class="fa fa-trash fa-sm"></i></a>
                                                        </div>
                                                    </div>
                                                </div>   
                                            </div>
                                        </div>
                                        
                                    {% endfor %} 
                                    <script>
                                        $(document).on('click', '.btn-remove-product', function() {
                                            $(this).closest('.form-product').remove();
                                        });
                                    </script>
                                </div>
                            </div>

                            <div style="border:1px dashed #ccc;margin-bottom:20px;padding:10px;">
                                <div class="form-group">
                                    <div class="row"> 
                                        <div class="col-md-12">
                                            <b>配件</b> <button type="button" class="btn btn-sm btn-default" style="margin-left: 10px;"><i class="fa fa-plus"></i> 新增配件</button>
                                        </div>
                                    </div>
                                </div>

                                <div style="padding-left:20px">

                                    {% for part_form in form.part_details %}
                                        <!--一个配件-->
                                        <div class="form-part">
                                            
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>PI Description</label>
                                                        <input class="form-control form-control-sm" type="text"  name="part_details-{{ loop.index0 }}-pi_category" required value="FIREPLACE MANTEL TOPS"/>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>Model No.</label>
                                                        <select class="form-control form-control-sm product-item" name="part_details-{{ loop.index0 }}-product_id" required>
                                                            <option value="">请选择产品</option>
                                                            {% for part in parts %}
                                                            <option value="{{ part.id }}" data-content="{{part.to_json()}}">{{ part.id }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>产品型号</label>
                                                        <input class="form-control form-control-sm" type="text"  name="part_details-{{ loop.index0 }}-product_model" required/>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>PCS</label>
                                                        <input class="form-control form-control-sm qty" type="text"  name="part_details-{{ loop.index0 }}-qty" required/>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>CTNS</label>
                                                        <input class="form-control form-control-sm" type="text"  name="part_details-{{ loop.index0 }}-ctns" required/>
                                                        
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>Unit Price</label>
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">$</span>
                                                            </div>
                                                            <input type="text" class="form-control" name="part_details-{{ loop.index0 }}-unit_price">
                                                        </div>
                                                        
                                                    </div>
                                                    
                                                </div>   
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Total Amount</label>
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">$</span>
                                                            </div>
                                                            <input type="text" class="form-control" name="part_details-{{ loop.index0 }}-total_price">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>N.W.(KGS)</label>
                                                        <input class="form-control form-control-sm" type="text"  name="part_details-{{ loop.index0 }}-nw_kgs" required/>
                                                        
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>G.W.(KGS)</label>
                                                        <input class="form-control form-control-sm" type="text"  name="part_details-{{ loop.index0 }}-gw_kgs" required/>
                                                        
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>M.T.(CBM）</label>
                                                        <input class="form-control form-control-sm" type="text"  name="part_details-{{ loop.index0 }}-mt_cmb" required/>
                                                        
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label>删除</label>
                                                        <div class="input-group input-group-sm">
                                                            <a class="btn btn-sm btn-danger btn-remove-part"><i class="fa fa-trash fa-sm"></i></a>
                                                        </div>
                                                    </div>
                                                </div>   
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <script>
                                        $(document).on('click', '.btn-remove-part', function() {
                                            $(this).closest('.form-part').remove();
                                        });
                                    </script>
                                </div>
                            </div>

                            <div style="border:1px dashed #ccc;margin-bottom:20px;padding:10px;">
                                <div class="form-group">
                                    <div class="row"> 
                                        <div class="col-md-12">
                                            <b>托盘</b> <button type="button" class="btn btn-sm btn-default" style="margin-left: 10px;"><i class="fa fa-plus"></i> 新增托盘</button>
                                        </div>
                                    </div>
                                </div>

                                <div style="padding-left:20px">
                                    {% for pallet_form in form.pallets %}
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <label>托盘名称</label>
                                                    <input class="form-control form-control-sm" type="text"  name="pallets-0-pallet_name" required/>
                                                </div>
                                                <div class="col-md-1">
                                                    <label>PCS</label>
                                                    <input class="form-control form-control-sm" type="text"  name="pallets-0-qty" required/>
                                                </div>
                                                <div class="col-md-1">
                                                    <label>N.W.(KGS)</label>
                                                    <input class="form-control form-control-sm" type="text"  name="pallets-0-nw_kgs" required/>
                                                    
                                                </div>
                                                <div class="col-md-1">
                                                    <label>G.W.(KGS)</label>
                                                    <input class="form-control form-control-sm" type="text"  name="pallets-0-gw_kgs" required/>
                                                    
                                                </div>
                                                <div class="col-md-1">
                                                    <label>长</label>    
                                                    <input class="form-control form-control-sm" type="text"  name="pallets-0-length" required/>
                                                </div>
                                                <div class="col-md-1">
                                                    <label>宽</label>    
                                                    <input class="form-control form-control-sm" type="text"  name="pallets-0-width" required/>
                                                </div>
                                                <div class="col-md-1">
                                                    <label>高</label>    
                                                    <input class="form-control form-control-sm" type="text"  name="pallets-0-height" required/>
                                                </div>
                                                <div class="col-md-1">
                                                    <label>M.T.(CBM）</label>    
                                                    <input class="form-control form-control-sm" type="text"  name="pallets-0-mt_cmb" required/>
                                                </div>
                                                <div class="col-md-1">
                                                    <label>删除</label>
                                                    <div class="input-group input-group-sm">
                                                        <a class="btn btn-sm btn-danger btn-remove-pallet"><i class="fa fa-trash fa-sm"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                    <script>
                                        $(document).on('click', '.btn-remove-pallet', function() {
                                            $(this).closest('.form-group').remove();
                                        });
                                    </script>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ form.remarks(class_='form-control form-control-sm', placeholder='备注')}}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary btn-sm">确认</button>
                                        <a href="javascript:window.history.back()" class="btn btn-default btn-sm" style="margin-right: 5px;">取消</a>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
