

{% extends 'base.html' %}

{% block content %}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>新建用户</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">


                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="card-body">
                            <form action="/user/save" method="post">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input class="form-control form-control-sm" type="text" placeholder="客户名称" name="customer_id" required/>
                                        </div>
                                        <div class="col-md-4">
                                            <input class="form-control form-control-sm" type="text" placeholder="客户别名" name="alias_name" required/>
                                        </div>
                                        <div class="col-md-4">
                                            <input class="form-control form-control-sm" type="text" placeholder="名称缩写" name="short_name" required/>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input class="form-control form-control-sm" type="text" placeholder="国家" name="country" required/>
                                        </div>
                                        <div class="col-md-4">
                                            <input class="form-control form-control-sm" type="text" placeholder="国家缩写" name="country_short_name" required/>
                                        </div>
                                        <div class="col-md-4">
                                            <input class="form-control form-control-sm" type="text" placeholder="Tel/Fax" name="tel_fax"/>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input class="form-control form-control-sm" type="text" placeholder="总部地址" name="address" required/>
                                        </div>
                                    </div>   
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <textarea class="form-control" rows="3" placeholder="备注" name="remarks"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4"><h5 style="display: inline;">收货地址</h5> <button type="button" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> 新增收货地址</button></div>
                                
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <input class="form-control form-control-sm" type="text" placeholder="收货地名称"/>
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control form-control-sm" type="text" placeholder="收货地址"/>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control form-control-sm" type="text" placeholder="Tel/Fax"/> 
                                        </div>
                                        <div class="col-md-1">
                                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <input class="form-control form-control-sm" type="text" placeholder="收货地名称"/>
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control form-control-sm" type="text" placeholder="收货地址"/>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control form-control-sm" type="text" placeholder="Tel/Fax"/>
                                        </div>
                                        <div class="col-md-1">
                                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary btn-sm">确认</button>
                                            <a href="javascript:window.history.back()" class="btn btn-default btn-sm" style="margin-right: 5px;">取消</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

        </div>
    </div>
</section>

{% endblock %}
